.item40 {
    float: left;
    /* border: 1px solid #bb7f06; */
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    border-left: none;
    
    
}
  
/* Style the buttons inside the tab */
.item40 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-transform: uppercase;
    color: #bb7f06;
    font-weight: 500;
    
  }
  
  /* Change background color of buttons on hover */
.item40 button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
.item40 button.active {
    background-color: #b0920c;
    color: whitesmoke;
  }
  
  /* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 100%;
    border-left: none;
    height: auto;
  }
/*-----------------------------------body--------------------------------------------------------------------------- */
#item40{
    
    padding: 0px 0px;
    
}
.item41 {
    
    grid-column: 2 / span 5;
    
    height: 2000px;
    border-left: 1px solid #bb7f06;
}

/* ----------------------------------------------------------gallery------------------------------------------------*/
#item41 .gallery {
  margin: 5px;
  border: 1px solid #bb7f06;
  float: left;
  
  z-index: 1;
  width: 200px;
  height: 300px;
  top: auto;
  left: auto;
  position: relative;

}

#item41 .gallery:hover {
  
 
  
  z-index: 999;
}

#item41 .gallery img {
  width: 100%;
  height: auto;
  z-index: 1;

}

#item41 .gallery img:hover {
  background-color:  burlywood;
  cursor: pointer;
  
  box-shadow:  5px 5px 10px 10px  burlywood;
  transition: 3s;
  border: 1px solid #bb7f06;
  width: 500px;
  height: 500px;
  top: auto;
  left: 00px;
  
  position: relative;
  transform: rotate(360deg);  
  transform-style: preserve-3d;

}

#item41 .desc {
  padding: 15px;
  text-align: center;
  font-size: medium;
  
}


#item1000 h3 {
  font: bold 30px "Amatic SC", sans-serif;
  color: #bb7f06;
  margin-top: 0px;
  margin-bottom: 0px;
}
#item1000 p{
  font: 20px arial;
}

.item1000 {
  grid-column: 1 / span 6;
  
}
#item1000 video{
  width: 100%;
  height: 400px;
}
#item1000 {
  background-color: black;
}
#item41 h3 {
  font: bold 30px arial;

}
#item41 p{
  font: 20px arial;
}
/* -----------------------------------------------hover image------------------------------------------------------------------------------------- */
