.item60 {
    grid-column: 1 / span 6;
}
#item60 {
    background-color: rgba(221,182,90,1);
    height: 1200px;
    position: flex;
    justify-content: center;
    
}
#item60 .w3-third {
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    width: 22%;
}
#item60 h1 {
    text-align: center;
    text-transform: uppercase;
}
#item60 h5 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px 0;
}

#item60 img:hover {
    filter: grayscale(100%);
    cursor: pointer;
    
}
#item60 .w3-container {
    background-color:grey;
}
#item60 .w3-row-padding {
    margin-left: 20%;
}